{% extends "home_base.html" %}
{% block title_block %} Home {% endblock %}
{% block home_body %}
{% load static %}
<div class="topnav">
    <a class="active" href="home">Home</a>
    <a href="browse">Browse</a>
    <a href="about">About</a>
</div>
<div class="p-5">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column p-5 justify-content-center">
            <p class="display-4">Register complaints online.</p>
        </div>
        <div class="d-flex flex-column p-5 justify-content-center">
            <button class="btn-lg btn-primary" onclick="location.href='complaint/register'">Register</button>
        </div>
    </div>
    <div class="d-flex flex-row p-5">
        <p class="display-4">Total <kbd>{{ total_complaints }}</kbd> complaints registered.</p>
    </div>
</div>
{% endblock %}