{% extends "home_base.html" %}
{% block title_block %} About {% endblock %}
{% block home_body %}
{% load static %}
<div class="topnav">
    <a href="home">Home</a>
    <a href="browse">Browse</a>
    <a class="active" href="about">About</a>
</div>
<div class="pl-5 pr-5 pt-4">
    <h3><mark>About Us and This Project:</mark></h3>
    <div style="font-size: large;" class="mt-4">
        We're 3-rd computer science students. We made this complaint registration webapp for our 3-rd year mini-project. We used 
        <mark>Django</mark>(a web framework written in Python) in back end, <mark>Firebase firestore</mark>
        (a cloud service provide by Google) as database and <mark>plain HTML, CSS, JS and BS4</mark>(a CSS/JS framework by Twitter)
        in front end.
    </div>
</div>
{% endblock %}