{% extends "home_base.html" %}
{% block title_block %} Browse {% endblock %}
{% block home_body %}
<div class="topnav">
    <a href="home">Home</a>
    <a class="active" href="browse">Browse</a>
    <a href="about">About</a>
</div>
<div class="pl-5 pr-5 pt-3">
    <div>
        <p class="h4">Browse registered complaints by category-</p>
    </div>
</div>
<div id="main-col" class="col pl-5 pr-5 pt-3 pb-5">
</div>
{% load js %}
<script type="text/javascript">
    const categories = {{ categories | js }};
    const metaInf = {{ meta | js }};
</script>
{% load static %}
<script src="{% static 'JS/home_browse.js' %}"></script>
{% endblock %}